@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*============ VARIAVEIS ============*/
:root {
  --red: hsl(359, 100%, 40%);
  --rosa: hsl(3, 41%, 90%);

  font-size: 62.5%; /* 1 rem = 10 px*/
}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.wrapper {
  padding-inline: 2rem;
}

/*============ NAV ============*/
nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  z-index: 100;
}

nav svg path {
  fill: var(--red);
}

nav.scroll {
  background-color: var(--red);
}

nav.scroll svg path {
  fill: #ffffff;
  stroke: #ffffff;
}

nav .open-menu:hover,
nav .close-menu:hover {
  cursor: pointer;
}

nav button {
  border: 0;
  background-color: #00000000;
}

nav .menu,
nav .close-menu {
  display: none;
}

section.menu {
  background-color: var(--red);
  position: fixed;
  top: 100vh;
  left: 0;

  width: 100%;
  height: 100%;

  transition: 400ms;
}

/*============ MENU-OPEN ============*/
body.open nav {
  background-color: var(--red);
  transition: 300ms;
}

body.open nav .open-menu {
  display: none;
}

body.open nav .close-menu {
  display: block;
}

body.open nav svg path {
  fill: #ffffff;
  stroke: #ffffff;
}

body.open section.menu {
  display: block;
  background-color: var(--red);
  position: fixed;
  top: 60px;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  padding-top: 7rem;

  transition: 400ms;
}

body.open section.menu a {
  text-decoration: none;
  color: #ffffff;

  font-weight: 700;
  font-size: 3rem;
}

body.open section.menu a.orcamento-btn {
  width: 26rem;
  height: 3.9rem;
  border-radius: 20px;
  border: 2px solid #ff6265;

  background-color: #ffffff;
  color: var(--red);

  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: none;
  font-weight: 500;
  font-size: 1.6rem;
  padding-right: 1.2rem;
  padding-left: 1.2rem;

  margin-bottom: 1.5rem;
}

body.open section.menu a.orcamento-btn svg path {
  fill: var(--red);
}

body.open section.menu .redes-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2.1rem;
}

/*============ HEADER ============*/
header::before {
  content: '';
  width: 100%;
  height: 14rem;
  background-color: var(--rosa);

  position: absolute;
  top: 0;
  left: 0;

  z-index: -2;
}

header {
  padding-top: 10rem;
}

header h2 {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 1.1rem;
}

header h2 span {
  color: var(--red);
}

/*============ MOVEIS ============*/
#moveis aside.closets {
  width: 100%;
  height: 230px;
}

/*============ GLIDER JS ============*/
/* #moveis .glide .glide__track ul {
  display: flex;
  gap: 10px;
}

#moveis .glide .glide__track ul li {
  width: 217px;
  height: 217px;

  border: 1px solid var(--red);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/*============ BACK TO TOP ============*/
#backToTop {
  display: block;
  position: fixed;
  bottom: -100px;
  right: 20px;
  transition: 400ms;
}

#backToTop.active {
  bottom: 40px;
  right: 20px;
  transition: 400ms;
}
